NEXT_PUBLIC_API_URL=http://localhost:3001
BACKEND_API_URL=http://localhost:3001

YANDEX_CLIENT_ID=
YANDEX_REDIRECT_URI=http://localhost:3000/api/auth/yandex/callback
YANDEX_AUTH_SCOPE=login:info login:email login:avatar
