**/node_modules
**/.next
**/dist
**/.turbo
**/.cache
**/coverage
**/test-results
.git
.github
.env
.env.*
!**/.env.example
.invite-sites
tmp
README.md
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
